<div class="profile-main-container p-4 d-flex gap-4 justify-content-center">

    <div class="position-relative  profile-info-content p-5">
        <div class="profile-info-header">
            <span class="">Sobre mí</span>
        </div>
        <div class="profile-image-text  gap-4">
            <img src="assets/img/foto_c.png" alt="Profile Image" class=" image">

            <p>
                Me apasiona descubrir nuevas tecnologías y mejorar mis habilidades cada día. Como Full Stack Developer,
                disfruto
                enfrentando desafíos que me permiten crecer y perfeccionar mi capacidad de resolución de problemas,
                tanto en lo
                profesional como en lo personal.
            </p>
            <p>
                Fuera del código, disfruto leer, escuchar música, explorar la naturaleza, jugar videojuegos y sumergirme
                en el
                mundo del anime.
            </p>

            <button class="btn btn-primary button" (click)="downloadPdf()"> Descargar CV</button>
        </div>


    </div>
</div>